@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
html{
    background: #080808;
}
body {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    align-items: center;
    justify-content: center;
    margin: 3% 10%;
    color: white;
    cursor: context-menu;
    opacity: 0;
    transition: opacity;
    transition-delay: 250ms;
    transition-duration: 4s;
    text-align: center;
}
nav {
    background-image:url("./images/40b5c9e4b741f5113ca2878fef400cd8--forest-road-green-nature.jpg");
    border-color: greenyellow ;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin: 1%;
    margin-top: 2%;
}
.hyperlinks {
    font-size: 24px;
    align-items: center;
    padding: 0px;
    margin: 0%;
    
}
.hyperlinks li {
    padding: 20px;
    align-items: center;
    display: block;
    float: left;
}
.hyperlinks li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;

}
.hyperlinks li a:hover {
    text-decoration: none;
    color: #ffd700;
    background-color: rgb(87, 44, 21) ;
}
article {
    display: flex;
    margin: 2% 2%;
    padding: 20px;
    flex:1;
    justify-content: center;
    flex-direction: row;
    min-width: 100%;
}
article div {
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
    border-radius: 10px;
    min-width: 50%;
    transition-timing-function: ease-in-out;
    transition: 500ms;
}
article div:hover {
    border-style: solid;
    border-color: rgb(140, 207, 38);
    border-width: 7px;
    border-radius: 20px;
    min-width: 50%;
}
article div a {
    text-decoration: none;
    color: white;
    transition: 500ms;
    transition-timing-function: ease-in-out;
}
article div .links:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(153, 205, 50, 0.253);
    border-radius: 10px;
    padding: 1%;
}
.center {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.hyperlinks footer {
    font-size: 10px;
}
